html {
    background: none;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    /* display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr; */
}

@media (max-width: 1200px) {
}

img {
    margin: 0 40px 20px 0;
    padding: 5px;
    max-width: 200px;
    max-height: 200px;
    /* border-radius: 125px; */
    /* border-radius: 64px; */
    border-radius: 32px;
    /* border-radius: 0; */
}

@media (max-width: 1200px) {
}
