.form-container {
    display: block;
    text-align: center;
    border: 1px solid orange;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    max-width: 400px;
    min-width: 250px;
    padding: 0.5rem 0.75rem;
}

#submit-button {
    border: 1px solid grey;
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.75rem;
    background-color: crimson;
    color: white;
}
