@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
    background: none;
}

.profiles-container {
    display: block;
    text-align: center;
}

.profile-container {
    max-width: 900px;
    /* border: 1px solid black; */
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 500px) {
    .profile-container {
        max-width: 300px;
        grid-template-columns: 1fr 1fr;
    }
}

#profile-image-list {
    /* border: 1px solid green; */
    margin: 10px;
    padding: 0 auto;
    max-width: 260px;
    max-height: 260px;
    border-radius: 32px;
}

#profile-name-age {
    /* border: 1px solid fuchsia; */
    font-family: 'Quicksand', cursive;
    word-spacing: 5em;
    letter-spacing: 0.1em;
    /* font-family: 'Bungee', cursive; */
}

.show-more-container {
    display: block;
    text-align: center;
    /* border: 1px solid burlywood; */
}

.show-more-button {
    /* border: 1px solid grey; */
    display: block;
    margin: 15px auto;
    font-family: 'Bungee', cursive;
    font-size: 1rem;
    width: 280px;
    padding: 0.5rem 0.75rem;
    background-color: crimson;
    color: white;
}

@media (max-width: 500px) {
    #profile-image-list {
        max-width: 130px;
        max-height: 130px;
    }
}

.loading {
    display: block;
    text-align: center;
    margin-top: 150px;
    /* border: 1px solid teal; */
    font-family: 'Quicksand', cursive;
    font-size: 1rem;
}

.sorry {
    display: block;
    text-align: center;
    margin-top: 150px;
    /* border: 1px solid green; */
    font-family: 'Quicksand', cursive;
    font-size: 1rem;
}

.match {
    display: block;
    text-align: center;
    margin-top: 150px;
    /* border: 1px solid blue; */
    font-family: 'Quicksand', cursive;
    font-size: 2.6rem;
}

@media (max-width: 500px) {
    .match {
        font-size: 1.8rem;
    }
}

.not-match {
    display: block;
    text-align: center;
    margin-top: 150px;
    /* border: 1px solid black; */
    font-family: 'Quicksand', cursive;
    font-size: 1.4rem;
}

@media (max-width: 500px) {
    .not-match {
        font-size: 0.9rem;
    }
}
