header,
nav {
    display: flex;
    justify-content: center;
}

.guest-link {
    text-decoration: underline;
    display: block;
    text-align: center;
}

.delete-container {
    display: block;
    text-align: center;
    /* border: 1px solid orange; */
}

/* .delete-button {
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem 0.75rem;
  color: black;
} */

.delete-button {
    border: 1px solid grey;
    display: block;
    margin: auto;
    font-size: 1rem;
    width: 280px;
    padding: 0.5rem 0.75rem;
    background-color: black;
    color: white;
}

#logo {
    border: 1px solid red;
}
