header,
nav {
  display: flex;
  justify-content: center;
}

.guest-link {
  text-decoration: underline;
  display: block;
  text-align: center;
}

.delete-container {
  display: block;
  text-align: center;
}

.delete-button {
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem 0.75rem;
  color: black;
}

#logo {
  border: 1px solid red;
}
