@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

header,
nav {
    display: flex;
    justify-content: center;
}

#logo {
    width: 400px;
}

@media (max-width: 500px) {
    #logo {
        width: 280px;
    }
}

#sign-up-message {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin: 15px 80px 15px 80px;
    font-family: 'Quicksand', cursive;
}

@media (max-width: 500px) {
    #sign-up-message {
        font-size: 1rem;
        margin: 15px 103px 15px 103px;
    }
}
.guest-link {
    color: crimson;
    font-family: 'Quicksand', cursive;
    text-decoration: underline;
    display: block;
    text-align: center;
}

.delete-container {
    display: block;
    text-align: center;
}

.delete-button {
    display: block;
    margin: auto;
    font-family: 'Bungee', cursive;
    font-size: 1rem;
    width: 280px;
    padding: 0.5rem 0.75rem;
    background-color: black;
    color: white;
}
